@font-face {
    font-family: 'GrotesqueMTStd';
    src: url('font/GrotesqueMTStd.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html, body, h1, h2, h3, a, div, p {
    font-family: 'GrotesqueMTStd', sans-serif;
}

.reset-button {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    color: currentColor;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
}

.svg-container {
    width: 635px;
    height: 635px;
      position: relative;
  }
  .svg-container svg {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
  }
  .svg-container svg.active {
      opacity: 1;
  }
  @media (max-width: 768px) {
  .svg-container {
      width: 317.5px;
      height: 317.5px;
      margin: 0 auto; 
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

  html, body, h1, h2, h3, a, div, p {
    font-family: 'GrotesqueMTStd', sans-serif;
}
}

.reset-heading {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}

.reset-input {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    color: currentColor;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
}

.reset-link {
    color: inherit;
    text-decoration-line: none;
}

.reset-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

:root {
    --color--pink: #eb75e2;
    --color--pink--light: #f6d0f3;
    --color--black: #000;
    --color--gray: #e4e4e4;
    --color--white: #fff;
}

:root {
    --container--small: 540px;
    --container--default: 900px;
    --container--default--without-padding: calc(var(--container--default) - var(--unit--horizontal--tripple) * 2);
    --container--medium: 1040px;
    --container--medium--without-padding: calc(var(--container--medium) - var(--unit--horizontal--tripple) * 2);
    --container--large: 1620px;
}

:root {
    --drop-shadow--default: 0 0 .5em rgba(0, 0, 0, .05);
    --drop-shadow--small: 0 0 .45em rgba(0, 0, 0, .05);
}

:root {
    --font-small--font-size--base: 1.35rem;
    --font-default--font-size--base: 1.825rem;
    --font-large--font-size--base: 3rem;
    --font-small--line-height--base: 1.6rem;
    --font-default--line-height--base: 2.1rem;
    --font-large--line-height--base: 3.3rem;
    --font-small--font-size: var(--font-small--font-size--base);
    --font-default--font-size: var(--font-default--font-size--base);
    --font-large--font-size: var(--font-large--font-size--base);
    --font-small--line-height: var(--font-small--line-height--base);
    --font-default--line-height: var(--font-default--line-height--base);
    --font-large--line-height: var(--font-large--line-height--base);
    --font-small--letter-spacing: .0125em;
    --font-default--letter-spacing: -.005em;
    --font-large--letter-spacing: .001em;
    --font-small--text-underline-offset: .175em;
    --font-default--text-underline-offset: .15em;
    --font-large--text-underline-offset: .115em;
    --font-small--text-decoration-thickness: .085em;
    --font-default--text-decoration-thickness: .095em;
    --font-large--text-decoration-thickness: .075em;
}

@media (max-width: 1024px) {
    :root {
        --font-small--font-size: calc(var(--font-small--font-size--base) * .85);
        --font-default--font-size: calc(var(--font-default--font-size--base) * .85);
        --font-large--font-size: calc(var(--font-large--font-size--base) * .85);
        --font-small--line-height: calc(var(--font-small--line-height--base) * .85);
        --font-default--line-height: calc(var(--font-default--line-height--base) * .85);
        --font-large--line-height: calc(var(--font-large--line-height--base) * .85);
    }
}

@media (max-width: 768px) {
    :root {
        --font-small--font-size: calc(var(--font-small--font-size--base) * .75);
        --font-default--font-size: calc(var(--font-default--font-size--base) * .75);
        --font-large--font-size: calc(var(--font-large--font-size--base) * .75);
        --font-small--line-height: calc(var(--font-small--line-height--base) * .75);
        --font-default--line-height: calc(var(--font-default--line-height--base) * .75);
        --font-large--line-height: calc(var(--font-large--line-height--base) * .75);
    }
}

:root {
    --100svh: calc(var(--1svh, 1vh) * 100);
    --100dvh: calc(var(--1dvh, 1vh) * 100);
    --height--site-header: calc(var(--font-default--line-height, 1em) + var(--unit--vertical--tripple));
    --width--publication-thumbnail: 320px;
}

@media (max-width: 1281px) {
    :root {
        --width--publication-thumbnail: 280px;
    }
}

@media (max-width: 768px) {
    :root {
        --width--publication-thumbnail: 140px;
    }
}

:root {
    --stroke--thin: 1.25px;
    --stroke--default: 3px;
    --stroke--thick: calc(var(--font-default--font-size) - var(--unit--spacer));
}

:root {
    --transition--duration--default: .2s;
    --transition--default: .2s ease-in-out;
    --transition--scale: scale(1.05);
}

:root {
    --unit--horizontal: 1.25rem;
    --unit--horizontal--double: calc(var(--unit--horizontal) * 2);
    --unit--horizontal--tripple: calc(var(--unit--horizontal) * 3);
    --unit--horizontal--sextuple: calc(var(--unit--horizontal) * 6);
    --unit--vertical: calc(var(--font-default--line-height) / 2);
    --unit--vertical--double: calc(var(--unit--vertical) * 2);
    --unit--vertical--tripple: calc(var(--unit--vertical) * 3);
    --unit--vertical--sextuple: calc(var(--unit--vertical) * 6);
    --unit--spacer: .75rem;
}

@media (max-width: 1024px) {
    :root {
        --unit--horizontal: 1rem;
    }
}

@media (max-width: 768px) {
    :root {
        --unit--horizontal: .5rem;
    }
}

:root {
    --z-index--footer: 25;
    --z-index--index-page--banner: 50;
    --z-index--site-header: 75;
    --z-index--modal: 100;
    --z-index--menu: 125;
    --z-index--fence: 150;
}

.container--medium {
    max-width: var(--container--medium);
}

.container--default, .container--medium {
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--unit--horizontal--tripple);
    padding-right: var(--unit--horizontal--tripple);
    width: 100%;
}

.container--default {
    max-width: var(--container--default);
}

.container--small {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--container--small);
    padding-left: var(--unit--horizontal--tripple);
    padding-right: var(--unit--horizontal--tripple);
    width: 100%;
}

.font-size-default {
    --fs: var(--font-default--font-size);
    --lh: var(--font-default--line-height);
    font-size: var(--font-default--font-size);
    letter-spacing: var(--font-default--letter-spacing);
    line-height: var(--font-default--line-height);
}

.font-size-default, .font-size-default * {
    text-decoration-thickness: var(--font-default--text-decoration-thickness);
    text-underline-offset: var(--font-default--text-underline-offset);
}

.font-size-small {
    --fs: var(--font-small--font-size);
    --lh: var(--font-small--line-height);
    font-size: var(--font-small--font-size);
    letter-spacing: var(--font-small--letter-spacing);
    line-height: var(--font-small--line-height);
}

.font-size-small, .font-size-small * {
    text-decoration-thickness: var(--font-small--text-decoration-thickness);
    text-underline-offset: var(--font-small--text-underline-offset);
}

.font-size-large {
    --fs: var(--font-large--font-size);
    --lh: var(--font-large--line-height);
    font-size: var(--font-large--font-size);
    letter-spacing: var(--font-large--letter-spacing);
    line-height: var(--font-large--line-height);
}

.font-size-large, .font-size-large * {
    text-decoration-thickness: var(--font-large--text-decoration-thickness);
    text-underline-offset: var(--font-large--text-underline-offset);
}

.mask-enter-active, .mask-leave-active {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
    transition: -webkit-clip-path .2s ease-in-out;
    transition: clip-path .2s ease-in-out;
    transition: clip-path .2s ease-in-out, -webkit-clip-path .2s ease-in-out;
}

.mask-enter-from, .mask-leave-to {
    -webkit-clip-path: inset(0 0 100% 0);
    clip-path: inset(0 0 100% 0);
}

.slide-in-enter-active, .slide-in-leave-active {
    transition: transform .5s ease-in-out;
}

.slide-in-enter-from, .slide-in-leave-to {
    pointer-events: none;
    transform: translateY(-100%);
}

@font-face {
    font-family: routed-gothic;
    font-style: normal;
    font-weight: 400;
    src: url(./routed-gothic.337955ca.woff2) format("woff2");
}

@font-face {
    font-family: routed-gothic-narrow;
    font-style: normal;
    font-weight: 400;
    src: url(./routed-gothic-narrow.01456d91.woff2) format("woff2");
}

html {
    --color--primary: var(--color--black);
    --color--accent: var(--color--pink);
    box-sizing: border-box;
    color: var(--color--primary);
    font-size: 16px;
    margin: 0;
    padding: 0;
}

html[data-overflow-hidden] {
    overflow: hidden;
}

body {
    --fs: var(--font-default--font-size);
    --lh: var(--font-default--line-height);
    font-family: routed-gothic-narrow;
    font-size: var(--font-default--font-size);
    letter-spacing: var(--font-default--letter-spacing);
    line-height: var(--font-default--line-height);
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    text-decoration-thickness: var(--font-default--text-decoration-thickness);
    text-underline-offset: var(--font-default--text-underline-offset);
}

img {
    width: 100%;
}

a {
    color: inherit;
}

.components-navigation-loading-indicator--root--DKJkL {
    background-color: var(--color--gray);
    height: calc(var(--unit--vertical) / 2);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: calc(var(--unit--horizontal) * 3);
}

.components-navigation-loading-indicator--root--DKJkL svg {
    height: 100%;
    width: 100%;
}

.components-navigation-site-header--root--uhJdB {
    align-items: baseline;
    display: flex;
    gap: var(--unit--spacer);
    justify-content: space-between;
}

.components-navigation-site-header--items--lfgcp {
    display: flex;
    gap: var(--unit--horizontal);
}

.components-navigation-site-header--breadcrumbs--R8GpT {
    color: var(--color--primary);
    display: flex;
    gap: var(--unit--horizontal);
    overflow: hidden;
    white-space: nowrap;
}

@media (max-width: 768px) {
    .components-navigation-site-header--breadcrumbs--R8GpT {
        display: none;
    }
}

.components-navigation-site-header--linkToClose--zqrWE {
    color: var(--color--primary);
}

.components-navigation-site-header--button--Q-9Bk:hover,
.components-navigation-menu-item-internal-link--root---jwua.router-link-exact-active,
.components-navigation-menu-item-internal-link--root---jwua:hover,
.components-navigation-menu-item-internal-link--root---jwua[data-active-parent] {
    color: var(--color--pink);
}

.components-navigation-menu--root---6TJc {
    background-color: var(--color--white);
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    z-index: var(--z-index--menu);
}

.components-navigation-menu--list--dWDCF {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: var(--unit--vertical) var(--unit--horizontal);
    padding-top: calc(var(--unit--vertical) * 1);
}

.components-navigation-menu--button--Ma4-i:hover {
    color: var(--color--pink);
}

.components-layout-sticky-logo--root--ieU2- {
    align-items: flex-end;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    gap: var(--unit--spacer);
    justify-content: space-between;
    padding: var(--unit--vertical) var(--unit--horizontal);
    pointer-events: none;
    position: sticky;
    z-index: 1;
}

.components-layout-sticky-logo--logo--vzBXK {
    fill: var(--color--primary);
    max-width: 18rem;
    overflow: visible;
    width: 100%;
}

@media (max-width: 1024px) {
    .components-layout-sticky-logo--logo--vzBXK {
        max-width: 11.5rem;
    }
}

.components-layout-sticky-logo--address--gsoHV {
    color: var(--color--primary);
}

@media (max-width: 768px) {
    .components-layout-sticky-logo--address--gsoHV {
        display: none;
    }
}

.components-fence--root--Ajyt3 {
    --test: var(--font-default--line-height);
    --size: calc(var(--font-default--line-height) * 2);
    --color--primary: var(--color--gray);
    background: repeating-linear-gradient(to bottom, var(--color--black), var(--color--black) var(--size), var(--color--white) var(--size), var(--color--white) calc(var(--size) + var(--unit--spacer)));
    display: flex;
    flex-direction: column;
    height: var(--100dvh);
    justify-content: flex-end;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: var(--z-index--fence);
}

.components-fence--closed--469Gs {
    color: var(--color--white);
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    text-transform: uppercase;
}

.components-footer-newsletter--inputContainer--7LqpG {
    align-items: baseline;
    display: flex;
}

.components-footer-newsletter--inputContainer--7LqpG svg {
    stroke-width: var(--stroke--default);
    stroke: currentColor;
    stroke-linecap: round;
    display: block;
    height: 1ch;
    overflow: visible;
    transform: scaleX(-1);
    width: 1.5ch;
}

.components-footer-newsletter--input---Jaty {
    line-height: 1;
    margin-bottom: calc(var(--unit--spacer) / 4 * 2);
    width: 100%;
}

.components-footer-newsletter--input---Jaty::-moz-placeholder {
    color: var(--color--primary);
}

.components-footer-newsletter--input---Jaty::placeholder {
    color: var(--color--primary);
}

.components-footer-newsletter--button--xCL1c[disabled] {
    cursor: not-allowed;
}

.components-footer-newsletter--button--xCL1c[disabled] * {
    stroke: var(--color--gray);
}

.components-footer-newsletter--options--CYr3s {
    padding-top: var(--unit--spacer);
    text-align: center;
}

.components-footer-newsletter--option--GgMS- {
    align-items: baseline;
    cursor: pointer;
    display: inline-grid;
    gap: .5ch;
    grid-template-columns: auto 1fr;
    margin-right: var(--unit--spacer);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.components-footer-newsletter--checkbox--qZR6b {
    cursor: pointer;
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0;
}

.components-footer-newsletter--checkmark--ISs0D {
    background-color: var(--color--gray);
    height: calc(var(--fs, 1em) * .725);
    width: calc(var(--fs, 1em) * .725);
}

.components-footer-newsletter--checkbox--qZR6b:checked ~ .components-footer-newsletter--checkmark--ISs0D {
    background-color: var(--color--black);
}

.components-footer-newsletter--checkbox--qZR6b:checked ~ .components-footer-newsletter--label--E-F7O {
    text-decoration-line: underline;
}

.components-footer-newsletter--label--E-F7O {
    cursor: pointer;
    display: inline-block;
}

.components-footer-newsletter--label--E-F7O:hover {
    text-decoration-line: underline;
}

.components-footer-newsletter--confirmation--m-AI7 {
    margin-top: var(--unit--spacer);
}

.components-footer-links--root--jj--H {
    display: flex;
    flex-wrap: wrap;
    gap: var(--unit--horizontal);
}

.components-footer-links--link--lOL2J:hover {
    text-decoration-line: underline;
}

.components-footer--root--N-J4W {
    grid-column-gap: var(--unit--horizontal--tripple);
    grid-row-gap: var(--unit--vertical);
    align-items: start;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: var(--unit--spacer) var(--unit--horizontal--double);
    margin-top: 0;
}

@media (max-width: 768px) {
    .components-footer--root--N-J4W {
        grid-column-gap: 0;
        grid-row-gap: var(--unit--vertical--double);
        grid-template-columns: 1fr;
    }
}


.components-footer--newsletter--CL3QE {
    grid-column: 1 / -1;
    margin-bottom: var(--unit--vertical--sextuple);
}

.components-footer--borderTop--P5ZZf {
    display: grid;
    gap: calc(var(--unit--horizontal--tripple) + var(--unit--spacer) * 2);
    grid-column: 1 / -1;
    grid-template-columns: repeat(6, 1fr);
}

@media (max-width: 1024px) {
    .components-footer--borderTop--P5ZZf {
        grid-template-columns: repeat(3, 1fr);
    }

    .components-footer--borderTop--P5ZZf div:nth-child(-n + 3) {
        display: none;
    }
}

@media (max-width: 768px) {
    .components-footer--borderTop--P5ZZf {
        grid-template-columns: repeat(2, 1fr);
    }

    .components-footer--borderTop--P5ZZf div:nth-child(-n + 4) {
        display: none;
    }
}

.components-footer--column--vZ8Ss {
    display: flex;
    flex-direction: column;
    gap: var(--unit--vertical);
}

.components-footer--information--OEpHy {
    max-width: var(--container--default--without-padding);
    width: 100%;
}

.layouts--root---gBcQ {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.layouts--main--PPFUI {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.components-layout-text-with-bar--root--PG-da {
    align-items: center;
    display: flex;
    gap: .35ch;
    line-height: var(--fs, 1);
}

.components-layout-text-with-bar--bar--5T6ZS {
    height: calc(var(--lh, 1em));
    width: var(--stroke--thick);
}

.components-layout-text-with-bar--bar--5T6ZS:before {
    background-color: currentColor;
    border-radius: 9999px;
    content: "";
    display: block;
    height: calc(100% - .2em);
    margin-top: .1em;
    width: 100%;
}

.components-layout-text-with-bar--text--vV8HT {
    transform: translateY(-.05em);
}

.components-navigation-language-switcher--root--I0Tzf {
    position: relative;
}

.components-navigation-language-switcher--item--qGuLX {
    --button--hover--background-color: var(--color--gray);
    --button--current--background-color: var(--color--gray);
    display: flex;
    text-align: center;
    text-transform: uppercase;
}

.components-navigation-language-switcher--button--RLAVZ {
    position: relative;
    z-index: 2;
}

.components-navigation-language-switcher--button--RLAVZ:hover,
.components-navigation-language-switcher--root--I0Tzf[data-expanded] .components-navigation-language-switcher--button--RLAVZ {
    color: var(--color--pink);
}

.components-navigation-language-switcher--list--ydXwi {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: var(--font-default--line-height);
    z-index: 1;
}

.components-navigation-language-switcher--link--HKOPt:hover,
.components-navigation-language-switcher--link--HKOPt[data-current] {
    color: var(--color--pink);
}

.components-navigation-language-switcher--link--HKOPt:not([href]) {
    color: var(--color--gray);
    pointer-events: none;
}

.components-layout-sticky-header--root--rGT7d {
    left: 0;
    margin-bottom: var(--unit--vertical);
    padding: var(--unit--vertical) var(--unit--horizontal);
    position: var(--site-header--position, sticky);
    right: 0;
    top: 0;
    transform: translateY(-100%);
    transition: transform .25s ease-in-out;
    z-index: var(--z-index--site-header);
}

.components-layout-sticky-header--root--rGT7d[data-sticky] {
    transform: translateY(0);
}

.components-i18n--root--L9uZU[disabled] {
    pointer-events: none;
}

.components-layout-horizontal-line--root--PeghJ {
    border-bottom: var(--stroke--thick) dotted currentColor;
    height: 0;
    margin-left: calc(var(--unit--horizontal) * -1);
    margin-right: calc(var(--unit--horizontal) * -1);
    width: calc(100% + var(--unit--horizontal) * 2);
}

.components-core-text--root--FoTMS h1,
.components-core-text--root--FoTMS h1 *,
.components-core-text--root--FoTMS h2,
.components-core-text--root--FoTMS h2 *,
.components-core-text--root--FoTMS h3,
.components-core-text--root--FoTMS h3 *,
.components-core-text--root--FoTMS h4,
.components-core-text--root--FoTMS h4 *,
.components-core-text--root--FoTMS h5,
.components-core-text--root--FoTMS h5 *,
.components-core-text--root--FoTMS h6 {
    font-size: inherit;
    font-style: inherit;
    font-weight: 400;
    line-height: inherit;
    margin-bottom: var(--lh, 1em);
    margin-top: 0;
    text-transform: uppercase;
}

.components-core-text--root--FoTMS a {
    color: inherit;
    text-decoration-line: underline;
}

.components-core-text--root--FoTMS a *,
.components-core-text--root--FoTMS a:hover {
    text-decoration-line: none;
}

.components-core-text--root--FoTMS code {
    font-family: inherit;
}

.components-core-text--root--FoTMS ol,
.components-core-text--root--FoTMS ul {
    list-style-position: inside;
    margin: 0;
    margin-bottom: var(--lh, 1em);
    padding: 0;
}

.components-core-text--root--FoTMS ol {
    list-style: none;
}

.components-core-text--root--FoTMS ol li,
.components-core-text--root--FoTMS ul li {
    counter-increment: list-item;
    padding-left: 2.5ch;
    position: relative;
}

.components-core-text--root--FoTMS ol li:before {
    content: counter(list-item, decimal) ". ";
    left: 0;
    position: absolute;
    top: 0;
}

.components-core-text--root--FoTMS ul {
    list-style: none;
}

.components-core-text--root--FoTMS ul li:before {
    content: "–";
    left: 0;
    position: absolute;
    top: 0;
}

.components-core-text--root--FoTMS p {
    margin-bottom: var(--lh, 1em);
    margin-top: 0;
    text-align: left;
}

.components-core-text--root--FoTMS p:last-of-type {
    margin-bottom: 0;
}

.components-core-text--root--FoTMS p:empty {
    display: none;
}

.components-core-text--root--FoTMS b,
.components-core-text--root--FoTMS strong {
    font-style: italic;
    font-weight: 400;
}

.components-core-text--root--FoTMS sub,
.components-core-text--root--FoTMS sup {
    font-size: 65%;
    line-height: 0;
}

.components-core-text--root--FoTMS blockquote {
    font-size: var(--font-medium--font-size);
    line-height: var(--font-medium--line-height);
    margin: 0;
}

.components-core-text--root--FoTMS blockquote * {
    text-decoration-thickness: var(--font-medium--text-decoration-thickness);
    text-underline-offset: var(--font-medium--text-underline-offset);
}

.components-shared-opening-times--root---6Tvb {
    grid-row-gap: var(--unit--spacer);
    display: grid;
}

.components-shared-opening-times--closed--zqb12 {
    text-transform: uppercase;
}

.components-shared-opening-times--item--AsjSg {
    display: flex;
    flex-direction: column;
}

.components-shared-opening-times--item--AsjSg:not(:last-of-type) {
    margin-bottom: var(--unit--spacer);
}

.components-core-date-time-range--root--Qxfla 
    .same-year-month-day .to .day,
    .components-core-date-time-range--root--Qxfla .same-year-month-day .to .day + .sep,
    .components-core-date-time-range--root--Qxfla .same-year-month-day .to .month,
    .components-core-date-time-range--root--Qxfla .same-year-month-day .to .month + .sep,
    .components-core-date-time-range--root--Qxfla .same-year-month-day .to .year,
    .components-core-date-time-range--root--Qxfla .same-year-month-day .to .year + .sep,
    .components-core-date-time-range--root--Qxfla .same-year-month-day-hour .to .day,
    .components-core-date-time-range--root--Qxfla .same-year-month-day-hour .to .day + .sep,
    .components-core-date-time-range--root--Qxfla .same-year-month-day-hour .to .month,
    .components-core-date-time-range--root--Qxfla .same-year-month-day-hour .to .month + .sep,
    .components-core-date-time-range--root--Qxfla .same-year-month-day-hour .to .year,
    .components-core-date-time-range--root--Qxfla .same-year-month-day-hour .to .year + .sep,
    .components-core-date-time-range--root--Qxfla .same-year-month-day-hour-minute .to,
    .components-core-date-time-range--root--Qxfla .same-year-month-day-hour-minute [class*=seperator] {
        display: none;
}

.components-core-date-time-range--root--Qxfla 
    .same-year-month-day-hour:has([class*="date to"]) [class*=seperator], 
    .components-core-date-time-range--root--Qxfla .same-year-month-day:has([class*="date to"]) [class*=seperator] {
        display: none;
}

.components-core-date-time-range--root--Qxfla 
    .same-year-month .from:not(:has(.hour)) .day + .sep {
        display: none;
}

.components-core-date-time-range--root--Qxfla 
    .same-year-month .from:not(:has(.hour)) .month,
    .components-core-date-time-range--root--Qxfla .same-year-month .from:not(:has(.hour)) .month + .sep {
        display: none;
}

.components-core-date-time-range--root--Qxfla 
    .same-year-month .from:not(:has(.hour)) .year,
    .components-core-date-time-range--root--Qxfla .same-year-month .from:not(:has(.hour)) .year + .sep {
        display: none;
}

.components-core-date-time-range--root--Qxfla 
    .same-year .from:not(:has(.hour)) .month + .sep {
        display: none;
}

.components-core-date-time-range--root--Qxfla 
    .same-year .from:not(:has(.hour)) .year,
    .components-core-date-time-range--root--Qxfla .same-year .from:not(:has(.hour)) .year + .sep {
        display: none;
}

.components-core-date-time-range--root--Qxfla 
    .same-year .from:has(.hour) .month + .sep {
        display: none;
}

.components-core-date-time-range--root--Qxfla 
    .same-year .from:has(.hour) .year {
        display: none;
}

.components-pages-index-clock--hour--ey8-8:not([data-outside-of-opening-hours]),
.components-pages-index-clock--hour--ey8-8[data-current] {
    display: none;
}

.components-pages-index-clock--hour--O15ZK:not([data-current]):not([data-within-openings-hours]) {
    display: none;
}

.components-pages-index-clock--root--TJNXM {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: calc(var(--100svh, 100vh) - var(--height--site-header));
    justify-content: center;
}

.components-pages-index-clock--container--JjlNJ {
    --width: calc((var(--width-percentage, 0%) - var(--height--site-header)) * 0.85);
    aspect-ratio: 1;
    position: relative;
    transform: translateY(calc(var(--height--site-header) / 2 * -1));
    width: var(--width);
}

@media (max-width: 768px) {
    .components-pages-index-clock--container--JjlNJ {
        --width: calc((var(--width-percentage, 0%)) * 1 - var(--unit--vertical) * 4);
    }
}

.components-pages-index-clock--svgOutline----2Po {
    left: 0;
    position: absolute;
    top: 0;
}

.components-pages-index-clock--svgOutline----2Po * {
    fill: var(--color--primary);
}

.components-pages-index-clock--wiser--8mhOz {
    display: flex;
    height: 50%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-100%) rotate(var(--deg, 0deg));
    transform-origin: 0 100%;
}

.components-pages-index-clock--wiser--8mhOz[data-smooth-transition] {
    transition: transform 0.25s ease;
}

.components-pages-index-clock--wiserContent---vEf0 {
    flex: 1;
    position: relative;
}

.components-pages-index-clock--wiserContent---vEf0 .components-pages-index-clock--svgHour--o-sVR,
.components-pages-index-clock--wiserContent---vEf0 .components-pages-index-clock--svgMinute--FWlZJ {
    bottom: -10%;
    height: 75%;
    left: 50%;
    overflow: visible;
    position: absolute;
    transform: translate(-50%);
    width: auto;
}

.components-pages-index-clock--wiserContent---vEf0 .components-pages-index-clock--svgSecond--jJ05F {
    bottom: -10%;
    height: 80%;
    left: 50%;
    overflow: visible;
    position: absolute;
    transform: translate(-50%);
    width: auto;
}

.components-pages-index-clock--svgSecond--jJ05F {
    fill: var(--color--accent);
}

.components-pages-index-clock--svgHour--o-sVR *,
.components-pages-index-clock--svgMinute--FWlZJ * {
    fill: none;
    stroke: var(--color--primary);
    stroke-width: 20;
    stroke-linecap: round;
}

.components-pages-index-clock--svgMinute--FWlZJ * {
    stroke: var(--color--primary);
}

.components-layout-link-with-bar--root--xzPuP {
    display: inline-flex;
    gap: 0.5ch;
    margin-right: auto;
}

.components-layout-link-with-bar--root--xzPuP[data-active] {
    color: var(--color--accent);
    gap: 0.1ch;
    padding-right: 8ch;
}

.components-layout-link-with-bar--root--xzPuP[data-active] .components-layout-link-with-bar--bar--ArAAs {
    transform: rotate(-90deg);
    width: var(--fs, 1em);
}

.components-layout-link-with-bar--bar--ArAAs {
    background-color: currentColor;
    border-radius: 9999px;
    display: inline-block;
    height: var(--stroke--thick);
    margin: auto;
    pointer-events: none;
    transition: width 0.2s ease-out, transform 0.2s ease-out;
    width: 8ch;
}

.components-layout-link-with-bar--text--ohTgl {
    transform: translateY(-0.05em);
}

.components-pages-index-programs--introduction--xdhB1 {
    margin-bottom: var(--unit--vertical--tripple);
    padding: 0 var(--unit--horizontal--double);
}

.components-pages-index-programs--about--mAClX {
    display: flex;
    flex-direction: column;
    gap: var(--unit--vertical);
    max-width: var(--container--default--without-padding);
    width: 100%;
}

.components-pages-index-introduction--root--ePBrP {
    grid-row-gap: var(--unit--vertical--sextuple);
    background-color: #fffcd5;
    display: grid;
    grid-template-columns: 1fr;
    padding: var(--unit--vertical--tripple) 0;
}

.components-pages-index--section--uTVI42 {
    margin-bottom: var(--unit--vertical--sextuple);
    background-color: #ffffff;
    padding: 20px;
}

.components-pages-index--section--uTVI4:not(:last-child) {
    margin-bottom: var(--unit--vertical--sextuple);
    background-color: #c1c1c1;
    padding: 20px;
}

.components-pages-index--about--4P8iP {
    margin-bottom: var(--unit--vertical--tripple);
}

.node_modules--brambergvd-nuxt-base-layer-components-base-image--root--1ZQjL {
    --max-aspect-ratio: max(var(--aspect-ratio), var(--base--image--max-aspect-ratio, 0));
    aspect-ratio: var(--base--image--aspect-ratio, var(--max-aspect-ratio));
    display: block;
    height: var(--base--image--height, auto);
    max-height: var(--base--image--max-height);
    -o-object-fit: var(--base--image--object-fit, contain);
    object-fit: var(--base--image--object-fit, contain);
    -o-object-position: var(--base--image--object-position, center);
    object-position: var(--base--image--object-position, center);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    visibility: hidden;
    width: var(--base--image--width, 100%);
}

.node_modules--brambergvd-nuxt-base-layer-components-base-image--root--1ZQjL.lazyloaded {
    background-color: var(--base--image--background-color, none);
    box-shadow: var(--base--image--box-shadow, none);
    visibility: visible;
}

.node_modules--brambergvd-nuxt-base-layer-components-base-figure--root--gREZ- {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.components-core-image--root--AfggG {
    position: relative;
}

.components-core-image--svg--qrDmd {
    aspect-ratio: var(--aspect-ratio, auto);
}

.components-core-image--caption--L5jE- {
    padding-top: var(--unit--spacer);
    text-align: center;
}

.components-layout-grid--root--VJNmU {
    grid-column-gap: calc(var(--unit--horizontal--double) * 2);
    grid-row-gap: var(--unit--vertical--tripple);
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

@media (max-width: 768px) {
    .components-layout-grid--root--VJNmU {
        grid-column-gap: 0;
        grid-row-gap: var(--unit--vertical--tripple);
        grid-template-columns: 1fr;
    }
}

@media (max-width: 1024px) {
    .components-layout-grid--root--VJNmU[data-break-early] {
        grid-column-gap: 0;
        grid-row-gap: var(--unit--vertical--tripple);
        grid-template-columns: 1fr;
    }
}

.components-shared-thumbnail-program-details--root--QOgc3 {
    --column--width: 40ch;
    margin: auto;
    width: 100%;
}

.components-shared-thumbnail-program-details--image---sG-u {
    display: block;
}

.components-shared-thumbnail-program-details--info--8ZtUu {
    text-align: right;
}

@media (max-width: 768px) {
    .components-shared-thumbnail-program-details--info--8ZtUu {
        display: flex;
        flex-direction: column-reverse;
        text-align: left;
    }
}

.components-shared-thumbnail-program-details--dateTimeRange--WXjrp {
    display: block;
}

.components-shared-thumbnail-program-details--dateTimeRange--WXjrp time {
    display: inline-block;
}

.components-shared-thumbnail-program-details--tag--eZye7 {
    text-transform: uppercase;
    word-break: break-all;
}

.components-shared-thumbnail-program-details--current--UOtcA,
.components-shared-thumbnail-program-details--upcoming--q23Rr {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    gap: var(--unit--spacer);
    justify-content: center;
}

@media (max-width: 1281px) {
    .components-shared-thumbnail-program-details--current--UOtcA,
    .components-shared-thumbnail-program-details--upcoming--q23Rr {
        grid-column-gap: var(--unit--horizontal--double);
        grid-row-gap: var(--unit--spacer);
        align-items: start;
        display: grid;
        grid-template-areas: 
            "image image" 
            "dateTimeRange introduction";
        grid-template-columns: min-content 1fr;
    }
}

@media (max-width: 768px) {
    .components-shared-thumbnail-program-details--current--UOtcA,
    .components-shared-thumbnail-program-details--upcoming--q23Rr {
        grid-column-gap: var(--unit--horizontal--double);
        grid-row-gap: var(--unit--spacer);
        align-items: start;
        grid-template-areas: 
            "image" 
            "dateTimeRange" 
            "introduction";
        grid-template-columns: 1fr;
    }
}

@media (min-width: 1281px) {
    .components-shared-thumbnail-program-details--current--UOtcA .components-shared-thumbnail-program-details--image---sG-u,
    .components-shared-thumbnail-program-details--upcoming--q23Rr .components-shared-thumbnail-program-details--image---sG-u {
        width: min(100% - var(--column--width) - var(--unit--horizontal--tripple), var(--container--default--without-padding));
    }
}

@media (max-width: 1281px) {
    .components-shared-thumbnail-program-details--current--UOtcA .components-shared-thumbnail-program-details--image---sG-u,
    .components-shared-thumbnail-program-details--upcoming--q23Rr .components-shared-thumbnail-program-details--image---sG-u {
        grid-area: image;
        margin-left: auto;
        margin-right: auto;
        max-width: var(--container--default--without-padding);
        width: 100%;
    }
}

@media (min-width: 1281px) {
    .components-shared-thumbnail-program-details--current--UOtcA .components-shared-thumbnail-program-details--dateTimeRange--WXjrp,
    .components-shared-thumbnail-program-details--upcoming--q23Rr .components-shared-thumbnail-program-details--dateTimeRange--WXjrp {
        text-align: right;
        width: calc(var(--column--width) / 2);
    }
}

@media (max-width: 1281px) {
    .components-shared-thumbnail-program-details--current--UOtcA .components-shared-thumbnail-program-details--dateTimeRange--WXjrp,
    .components-shared-thumbnail-program-details--upcoming--q23Rr .components-shared-thumbnail-program-details--dateTimeRange--WXjrp {
        grid-area: dateTimeRange;
        white-space: nowrap;
    }
}

@media (max-width: 768px) {
    .components-shared-thumbnail-program-details--current--UOtcA .components-shared-thumbnail-program-details--dateTimeRange--WXjrp,
    .components-shared-thumbnail-program-details--upcoming--q23Rr .components-shared-thumbnail-program-details--dateTimeRange--WXjrp {
        text-align: left;
    }
}

@media (min-width: 1281px) {
    .components-shared-thumbnail-program-details--current--UOtcA .components-shared-thumbnail-program-details--introduction---GrrW,
    .components-shared-thumbnail-program-details--upcoming--q23Rr .components-shared-thumbnail-program-details--introduction---GrrW {
        width: calc(var(--column--width) / 2);
    }
}

@media (max-width: 1281px) {
    .components-shared-thumbnail-program-details--current--UOtcA .components-shared-thumbnail-program-details--introduction---GrrW,
    .components-shared-thumbnail-program-details--upcoming--q23Rr .components-shared-thumbnail-program-details--introduction---GrrW {
        grid-area: introduction;
    }
}

@media (max-width: 768px) {
    .components-shared-thumbnail-program-details--current--UOtcA .components-shared-thumbnail-program-details--introduction---GrrW,
    .components-shared-thumbnail-program-details--upcoming--q23Rr .components-shared-thumbnail-program-details--introduction---GrrW {
        text-align: left;
    }
}

.components-shared-thumbnail-program-details--past--SixPq {
    grid-column-gap: var(--unit--horizontal--double);
    grid-row-gap: var(--unit--spacer);
    align-items: start;
    display: grid;
    grid-template-areas: 
        "image image" 
        "dateTimeRange introduction";
    grid-template-columns: min-content 1fr;
}

@media (max-width: 768px) {
    .components-shared-thumbnail-program-details--past--SixPq {
        grid-column-gap: var(--unit--horizontal--double);
        grid-row-gap: var(--unit--spacer);
        align-items: start;
        grid-template-areas: 
            "image" 
            "dateTimeRange" 
            "introduction";
        grid-template-columns: 1fr;
    }
}

.components-shared-thumbnail-program-details--past--SixPq .components-shared-thumbnail-program-details--image---sG-u {
    grid-area: image;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--container--default--without-padding);
    width: 100%;
}

.components-shared-thumbnail-program-details--past--SixPq .components-shared-thumbnail-program-details--dateTimeRange--WXjrp {
    grid-area: dateTimeRange;
    white-space: nowrap;
}

.components-shared-thumbnail-program-details--past--SixPq .components-shared-thumbnail-program-details--introduction---GrrW {
    grid-area: introduction;
}

.components-shared-thumbnail-program--root--y05UA {
    display: flex;
    flex-direction: column;
}

.components-shared-thumbnail-program--root--y05UA:hover {
    color: var(--color--accent);
}

.components-shared-thumbnail-program--status--L6Y1X {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--unit--spacer);
    margin-bottom: calc(var(--unit--spacer) * 2);
    margin-left: auto;
    margin-right: auto;
    max-width: var(--container--default--without-padding);
    text-transform: uppercase;
    width: 100%;
}

.components-shared-thumbnail-program--title--VHrX1 {
    margin-bottom: var(--unit--spacer);
    text-align: center;
}

.components-shared-thumbnails-programs--root--q91kL {
    padding-left: var(--unit--horizontal--tripple);
    padding-right: var(--unit--horizontal--tripple);
    position: relative;
}

.components-shared-thumbnails-programs--item--D7ndW[data-status="current"],
.components-shared-thumbnails-programs--item--D7ndW[data-status="upcoming"] {
    grid-column: 1 / -1;
}

.components-shared-thumbnail-fellow--root--yksme {
    display: block;
    width: 100%;
}

.components-shared-thumbnail-fellow--content--l-gKa {
    background-color: transparent;
    color: #000000;
    padding: var(--unit--vertical) var(--unit--horizontal);
    text-align: center;
    border: 10px dotted #c5c5c5; 
    border-radius: 50%; 
}

.components-shared-thumbnail-fellow--root--yksme:hover 
.components-shared-thumbnail-fellow--content--l-gKa {
    background-color: transparent; 
    border: 10px dotted #000000; 
    border-radius: 50%; 
    transform: rotate(var(--deg));
}

.components-shared-fellow-thumbnail-container--root--zHJk3 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--unit--spacer);
}

.components-shared-fellow-thumbnail-container--label--b1JRc {
    text-transform: uppercase;
}

.components-shared-thumbnails-publications--root--p0JlY {
    display: block;
    margin: 0 var(--unit--horizontal--tripple);
    position: relative;
  }
  
  .components-shared-thumbnails-publications--root--p0JlY:not([data-loaded]) {
    opacity: 0;
  }
  
  .components-shared-thumbnails-publications--list--VaU1W {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    gap: var(--unit--horizontal--tripple);
    justify-content: center;
    padding-bottom: calc(var(--stroke--thick) * 1);
  }
  
  .components-shared-thumbnails-publications--bar--6mcwt {
    left: 0;
    margin-bottom: var(--stroke--thick);
    position: absolute;
    right: 0;
    top: var(--bottom);
  }
  
  .components-shared-thumbnails-publications--image--vFaU7 {
    position: relative;
    z-index: 1;
  }
  
  .components-shared-thumbnail-publication--root--dLkS3 {
    aspect-ratio: var(--aspect-ratio);
    display: block;
    max-width: 100%;
    position: relative;
    transform-origin: var(--origin);
    transition: transform .2s ease-in-out;
    width: calc(var(--width--percentage) * var(--width--publication-thumbnail));
  }
  
  .components-shared-thumbnail-publication--root--dLkS3[data-idle] {
    pointer-events: none;
  }
  
  .components-shared-thumbnail-publication--root--dLkS3.router-link-exact-active,
  .components-shared-thumbnail-publication--root--dLkS3:focus,
  .components-shared-thumbnail-publication--root--dLkS3:hover {
    outline: none !important;
    transform: rotate(var(--deg, 0deg));
  }
  
  .components-shared-thumbnail-publication--image--4nm3G {
    background-color: var(--color--white);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .components-shared-thumbnail-publication--image--4nm3G:before {
    background-color: #00000003;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .components-shared-thumbnail-publication--shadow--2rmIZ {
    --offset: -1.35px;
    --offset-top: -1.15px;
    background-color: #ebebeb;
    border-right: .5px solid #cfcfcf;
    height: 100%;
    position: absolute;
    right: calc(var(--offset) * var(--i));
    top: calc(var(--offset-top) * var(--i));
    width: 100%;
    z-index: calc(var(--i) * -1);
  }
  
  @media (max-width: 768px) {
    .components-shared-thumbnail-publication--shadow--2rmIZ {
      --offset: -.8px;
      --offset-top: -.65px;
    }
  }
  