@font-face {
    font-family: 'GrotesqueMTStd';
    src: url('font/GrotesqueMTStd.woff2') format('woff2'),
         url('font/GrotesqueMTStd.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

html, body, h1, h2, h3, a, div, p, span {
    font-family: 'GrotesqueMTStd', sans-serif;
}

html, body {
    max-width: 100%;
  }

.reset-button {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    color: currentColor;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
}

.svg-container {
    width: 635px;
    height: 635px;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    display: flex;
    justify-content: center;
    align-items: center;
}


.svg-container svg {
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
}

.svg-scale-wrapper {
    overflow-x: hidden;
    position: relative;
}

.svg-container svg.active {
    display: block;
    opacity: 1;
}

@media (max-width: 480px) {
    html, body, h1, h2, h3, a, div, p {
        font-family: 'GrotesqueMTStd', sans-serif;
    }
}

  @media (max-width: 768px) {
  .svg-container {
      width: 317.5px;
      height: 317.5px;
      margin: 0 auto; 
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

  html, body, h1, h2, h3, a, div, p {
    font-family: 'GrotesqueMTStd', sans-serif;
}
}

.reset-heading {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}

.reset-input {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    color: currentColor;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
}

.reset-link {
    color: inherit;
    text-decoration-line: none;
}

.reset-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

:root {
    --color--pink: #eb75e2;
    --color--pink--light: #f6d0f3;
    --color--black: #000;
    --color--gray: #e4e4e4;
    --color--white: #fff;
}

:root {
    --container--small: 540px;
    --container--default: 900px;
    --container--default--without-padding: calc(var(--container--default) - var(--unit--horizontal--tripple) * 2);
    --container--medium: 1040px;
    --container--medium--without-padding: calc(var(--container--medium) - var(--unit--horizontal--tripple) * 2);
    --container--large: 1620px;
}

:root {
    --drop-shadow--default: 0 0 .5em rgba(0, 0, 0, .05);
    --drop-shadow--small: 0 0 .45em rgba(0, 0, 0, .05);
}

:root {
    --font-small--font-size--base: 1.35rem;
    --font-default--font-size--base: 1.825rem;
    --font-large--font-size--base: 3rem;
    --font-small--line-height--base: 1.6rem;
    --font-default--line-height--base: 2.1rem;
    --font-large--line-height--base: 3.3rem;
    --font-small--font-size: var(--font-small--font-size--base);
    --font-default--font-size: var(--font-default--font-size--base);
    --font-large--font-size: var(--font-large--font-size--base);
    --font-small--line-height: var(--font-small--line-height--base);
    --font-default--line-height: var(--font-default--line-height--base);
    --font-large--line-height: var(--font-large--line-height--base);
    --font-small--letter-spacing: .0125em;
    --font-default--letter-spacing: -.005em;
    --font-large--letter-spacing: .001em;
    --font-small--text-underline-offset: .175em;
    --font-default--text-underline-offset: .15em;
    --font-large--text-underline-offset: .115em;
    --font-small--text-decoration-thickness: .085em;
    --font-default--text-decoration-thickness: .095em;
    --font-large--text-decoration-thickness: .075em;
}

@media (max-width: 1024px) {
    :root {
        --font-small--font-size: calc(var(--font-small--font-size--base) * .85);
        --font-default--font-size: calc(var(--font-default--font-size--base) * .85);
        --font-large--font-size: calc(var(--font-large--font-size--base) * .85);
        --font-small--line-height: calc(var(--font-small--line-height--base) * .85);
        --font-default--line-height: calc(var(--font-default--line-height--base) * .85);
        --font-large--line-height: calc(var(--font-large--line-height--base) * .85);
    }
}

@media (max-width: 768px) {
    :root {
        --font-small--font-size: calc(var(--font-small--font-size--base) * .75);
        --font-default--font-size: calc(var(--font-default--font-size--base) * .75);
        --font-large--font-size: calc(var(--font-large--font-size--base) * .75);
        --font-small--line-height: calc(var(--font-small--line-height--base) * .75);
        --font-default--line-height: calc(var(--font-default--line-height--base) * .75);
        --font-large--line-height: calc(var(--font-large--line-height--base) * .75);
    }
}

:root {
    --100svh: calc(var(--1svh, 1vh) * 100);
    --100dvh: calc(var(--1dvh, 1vh) * 100);
    --height--site-header: calc(var(--font-default--line-height, 1em) + var(--unit--vertical--tripple));
    --width--publication-thumbnail: 320px;
}

@media (max-width: 1281px) {
    :root {
        --width--publication-thumbnail: 280px;
    }
}

@media (max-width: 768px) {
    :root {
        --width--publication-thumbnail: 140px;
    }
}

:root {
    --stroke--thin: 1.25px;
    --stroke--default: 3px;
    --stroke--thick: calc(var(--font-default--font-size) - var(--unit--spacer));
}

:root {
    --transition--duration--default: .2s;
    --transition--default: .2s ease-in-out;
    --transition--scale: scale(1.05);
}

:root {
    --unit--horizontal: 1.25rem;
    --unit--horizontal--double: calc(var(--unit--horizontal) * 2);
    --unit--horizontal--tripple: calc(var(--unit--horizontal) * 3);
    --unit--horizontal--sextuple: calc(var(--unit--horizontal) * 6);
    --unit--vertical: calc(var(--font-default--line-height) / 2);
    --unit--vertical--double: calc(var(--unit--vertical) * 2);
    --unit--vertical--tripple: calc(var(--unit--vertical) * 3);
    --unit--vertical--sextuple: calc(var(--unit--vertical) * 6);
    --unit--spacer: .75rem;
}

@media (max-width: 1024px) {
    :root {
        --unit--horizontal: 1rem;
    }
}

@media (max-width: 768px) {
    :root {
        --unit--horizontal: .5rem;
    }
}

:root {
    --z-index--footer: 25;
    --z-index--index-page--banner: 50;
    --z-index--site-header: 75;
    --z-index--modal: 100;
    --z-index--menu: 125;
}

.container--medium {
    max-width: var(--container--medium);
}

.container--default, .container--medium {
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--unit--horizontal--tripple);
    padding-right: var(--unit--horizontal--tripple);
    width: 100%;
}

.container--default {
    max-width: var(--container--default);
}

.container--small {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--container--small);
    padding-left: var(--unit--horizontal--tripple);
    padding-right: var(--unit--horizontal--tripple);
    width: 100%;
}

.font-size-default {
    --fs: var(--font-default--font-size);
    --lh: var(--font-default--line-height);
    font-size: var(--font-default--font-size);
    letter-spacing: var(--font-default--letter-spacing);
    line-height: var(--font-default--line-height);
}

.font-size-default, .font-size-default * {
    text-decoration-thickness: var(--font-default--text-decoration-thickness);
    text-underline-offset: var(--font-default--text-underline-offset);
}

.font-size-small {
    --fs: var(--font-small--font-size);
    --lh: var(--font-small--line-height);
    font-size: var(--font-small--font-size);
    letter-spacing: var(--font-small--letter-spacing);
    line-height: var(--font-small--line-height);
}

.font-size-small, .font-size-small * {
    text-decoration-thickness: var(--font-small--text-decoration-thickness);
    text-underline-offset: var(--font-small--text-underline-offset);
}

.font-size-large {
    --fs: var(--font-large--font-size);
    --lh: var(--font-large--line-height);
    font-size: var(--font-large--font-size);
    letter-spacing: var(--font-large--letter-spacing);
    line-height: var(--font-large--line-height);
}

.font-size-large, .font-size-large * {
    text-decoration-thickness: var(--font-large--text-decoration-thickness);
    text-underline-offset: var(--font-large--text-underline-offset);
}

.mask-enter-active, .mask-leave-active {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
    transition: -webkit-clip-path .2s ease-in-out;
    transition: clip-path .2s ease-in-out;
    transition: clip-path .2s ease-in-out, -webkit-clip-path .2s ease-in-out;
}

.mask-enter-from, .mask-leave-to {
    -webkit-clip-path: inset(0 0 100% 0);
    clip-path: inset(0 0 100% 0);
}

.slide-in-enter-active, .slide-in-leave-active {
    transition: transform .5s ease-in-out;
}

.slide-in-enter-from, .slide-in-leave-to {
    pointer-events: none;
    transform: translateY(-100%);
}

html {
    --color--primary: var(--color--black);
    --color--accent: var(--color--pink);
    box-sizing: border-box;
    color: var(--color--primary);
    font-size: 16px;
    margin: 0;
    padding: 0;
}

html[data-overflow-hidden] {
    overflow: hidden;
}

body {
    --fs: var(--font-default--font-size);
    --lh: var(--font-default--line-height);
    font-family: routed-gothic-narrow;
    font-size: var(--font-default--font-size);
    letter-spacing: var(--font-default--letter-spacing);
    line-height: var(--font-default--line-height);
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    text-decoration-thickness: var(--font-default--text-decoration-thickness);
    text-underline-offset: var(--font-default--text-underline-offset);
}

img {
    width: 100%;
}

a {
    color: inherit;
}

.navigation-loading-indicator__root {
    background-color: var(--color--gray);
    height: calc(var(--unit--vertical) / 2);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: calc(var(--unit--horizontal) * 3);
}

.navigation-loading-indicator__root svg {
    height: 100%;
    width: 100%;
}

.navigation-site-header__root {
    align-items: baseline;
    display: flex;
    gap: var(--unit--spacer);
    justify-content: space-between;
}

.navigation-site-header--items {
    display: flex;
    gap: var(--unit--horizontal);
}

.navigation-site-header--breadcrumbs {
    color: var(--color--primary);
    display: flex;
    gap: var(--unit--horizontal);
    overflow: hidden;
    white-space: nowrap;
}

@media (max-width: 768px) {
    .navigation-site-header--breadcrumbs {
        display: none;
    }
}

.navigation-site-header--linkToClose {
    color: var(--color--primary);
}

.navigation-site-header--button:hover,
.navigation-menu-item-internal-link--root.router-link-exact-active,
.navigation-menu-item-internal-link--root:hover,
.navigation-menu-item-internal-link--root[data-active-parent] {
    color: var(--color--pink);
}

.navigation-menu--root {
    background-color: var(--color--white);
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    z-index: var(--z-index--menu);
}

.navigation-menu--list {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: var(--unit--vertical) var(--unit--horizontal);
    padding-top: calc(var(--unit--vertical) * 1);
}

.navigation-menu--button:hover {
    color: var(--color--pink);
}

.layout-sticky-logo--root {
    align-items: flex-end;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    gap: var(--unit--spacer);
    justify-content: space-between;
    padding: var(--unit--vertical) var(--unit--horizontal);
    pointer-events: none;
    position: sticky;
    z-index: 1;
}

.layout-sticky-logo--logo {
    fill: var(--color--primary);
    max-width: 18rem;
    overflow: visible;
    width: 100%;
}

@media (max-width: 1024px) {
    .layout-sticky-logo--logo {
        max-width: 11.5rem;
    }
}

.layout-sticky-logo--address {
    color: var(--color--primary);
}

@media (max-width: 768px) {
    .layout-sticky-logo--address {
        display: none;
    }
}


.footer-links--root {
    display: flex;
    flex-wrap: wrap;
    gap: var(--unit--horizontal);
}

.footer-links--link:hover {
    text-decoration-line: underline;
}

.footer--root {
    grid-column-gap: var(--unit--horizontal--tripple);
    grid-row-gap: var(--unit--vertical);
    align-items: start;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: var(--unit--spacer) var(--unit--horizontal--double);
    margin-top: 0;
}

@media (max-width: 768px) {
    .footer--root {
        grid-column-gap: 0;
        grid-row-gap: var(--unit--vertical--double);
        grid-template-columns: 1fr;
    }
}

.footer--borderTop {
    display: grid;
    gap: calc(var(--unit--horizontal--tripple) + var(--unit--spacer) * 2);
    grid-column: 1 / -1;
    grid-template-columns: repeat(6, 1fr);
}

@media (max-width: 1024px) {
    .footer--borderTop {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer--borderTop div:nth-child(-n + 3) {
        display: none;
    }
}

@media (max-width: 768px) {
    .footer--borderTop {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer--borderTop div:nth-child(-n + 4) {
        display: none;
    }
}

.footer--column {
    display: flex;
    flex-direction: column;
    gap: var(--unit--vertical);
}

.footer--information {
    max-width: var(--container--default--without-padding);
    width: 100%;
}

.layouts--root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.layouts--main {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.layout-text-with-bar--root {
    align-items: center;
    display: flex;
    gap: .35ch;
    line-height: var(--fs, 1);
}

.layout-text-with-bar--bar {
    height: calc(var(--lh, 1em));
    width: var(--stroke--thick);
}

.layout-text-with-bar--bar:before {
    background-color: currentColor;
    border-radius: 9999px;
    content: "";
    display: block;
    height: calc(100% - .2em);
    margin-top: .1em;
    width: 100%;
}

.layout-text-with-bar--text {
    transform: translateY(-.05em);
}

.navigation-language-switcher--root {
    position: relative;
}

.navigation-language-switcher--item {
    --button--hover--background-color: var(--color--gray);
    --button--current--background-color: var(--color--gray);
    display: flex;
    text-align: center;
    text-transform: uppercase;
}

.navigation-language-switcher--button {
    position: relative;
    z-index: 2;
}

.navigation-language-switcher--button:hover,
.navigation-language-switcher--root[data-expanded] .navigation-language-switcher--button {
    color: var(--color--pink);
}

.navigation-language-switcher--list {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: var(--font-default--line-height);
    z-index: 1;
}

.navigation-language-switcher--link:hover,
.navigation-language-switcher--link[data-current] {
    color: var(--color--pink);
}

.navigation-language-switcher--link:not([href]) {
    color: var(--color--gray);
    pointer-events: none;
}

.layout-sticky-header--root {
    left: 0;
    margin-bottom: var(--unit--vertical);
    padding: var(--unit--vertical) var(--unit--horizontal);
    position: var(--site-header--position, sticky);
    right: 0;
    top: 0;
    transform: translateY(-100%);
    transition: transform .25s ease-in-out;
    z-index: var(--z-index--site-header);
}

.layout-sticky-header--root[data-sticky] {
    transform: translateY(0);
}

.i18n--root[disabled] {
    pointer-events: none;
}
.layout-horizontal-line--root {
    border-bottom: var(--stroke--thick) dotted currentColor;
    height: 0;
    margin-left: calc(var(--unit--horizontal) * -1); 
    margin-right: calc(var(--unit--horizontal) * -1); 
    width: 100%; 
    color: #e2e2e2;
}

@media (max-width: 768px) {
    .layout-horizontal-line--root {
        border-bottom: none;
        background-image: repeating-linear-gradient(
            to right,
            currentColor 0,
            currentColor 2px,
            transparent 2px,
            transparent 6px
        );
        height: 2px;
        background-repeat: repeat-x;
        background-position: bottom;
        margin-left: 0; 
        margin-right: 0; 
        width: 100%; 
    }
}
.core-text--root h1,
.core-text--root h1 *,
.core-text--root h2,
.core-text--root h2 *,
.core-text--root h3,
.core-text--root h3 *,
.core-text--root h4,
.core-text--root h4 *,
.core-text--root h5,
.core-text--root h5 *,
.core-text--root h6 {
    font-size: inherit;
    font-style: inherit;
    font-weight: 400;
    line-height: inherit;
    margin-bottom: var(--lh, 1em);
    margin-top: 0;
    text-transform: uppercase;
}

.core-text--root a {
    color: inherit;
    text-decoration-line: underline;
}

.core-text--root a *,
.core-text--root a:hover {
    text-decoration-line: none;
}

.core-text--root code {
    font-family: inherit;
}

.core-text--root ol,
.core-text--root ul {
    list-style-position: inside;
    margin: 0;
    margin-bottom: var(--lh, 1em);
    padding: 0;
}

.core-text--root ol {
    list-style: none;
}

.core-text--root ol li,
.core-text--root ul li {
    counter-increment: list-item;
    padding-left: 2.5ch;
    position: relative;
}

.core-text--root ol li:before {
    content: counter(list-item, decimal) ". ";
    left: 0;
    position: absolute;
    top: 0;
}

.core-text--root ul {
    list-style: none;
}

.core-text--root ul li:before {
    content: "–";
    left: 0;
    position: absolute;
    top: 0;
}

.core-text--root p {
    margin-bottom: var(--lh, 1em);
    margin-top: 0;
    text-align: left;
}

.core-text--root p:last-of-type {
    margin-bottom: 0;
}

.core-text--root p:empty {
    display: none;
}

.core-text--root b,
.core-text--root strong {
    font-style: italic;
    font-weight: 400;
}

.core-text--root sub,
.core-text--root sup {
    font-size: 65%;
    line-height: 0;
}

.core-text--root blockquote {
    font-size: var(--font-medium--font-size);
    line-height: var(--font-medium--line-height);
    margin: 0;
}

.core-text--root blockquote * {
    text-decoration-thickness: var(--font-medium--text-decoration-thickness);
    text-underline-offset: var(--font-medium--text-underline-offset);
}

.shared-opening-times--root {
    grid-row-gap: var(--unit--spacer);
    display: grid;
}

.shared-opening-times--closed {
    text-transform: uppercase;
}

.shared-opening-times--item {
    display: flex;
    flex-direction: column;
}

.shared-opening-times--item:not(:last-of-type) {
    margin-bottom: var(--unit--spacer);
}

.core-date-time-range--root 
    .same-year-month-day .to .day,
    .core-date-time-range--root .same-year-month-day .to .day + .sep,
    .core-date-time-range--root .same-year-month-day .to .month,
    .core-date-time-range--root .same-year-month-day .to .month + .sep,
    .core-date-time-range--root .same-year-month-day .to .year,
    .core-date-time-range--root .same-year-month-day .to .year + .sep,
    .core-date-time-range--root .same-year-month-day-hour .to .day,
    .core-date-time-range--root .same-year-month-day-hour .to .day + .sep,
    .core-date-time-range--root .same-year-month-day-hour .to .month,
    .core-date-time-range--root .same-year-month-day-hour .to .month + .sep,
    .core-date-time-range--root .same-year-month-day-hour .to .year,
    .core-date-time-range--root .same-year-month-day-hour .to .year + .sep,
    .core-date-time-range--root .same-year-month-day-hour-minute .to,
    .core-date-time-range--root .same-year-month-day-hour-minute [class*=seperator] {
        display: none;
}

.core-date-time-range--root 
    .same-year-month-day-hour:has([class*="date to"]) [class*=seperator], 
    .core-date-time-range--root .same-year-month-day:has([class*="date to"]) [class*=seperator] {
        display: none;
}

.core-date-time-range--root 
    .same-year-month .from:not(:has(.hour)) .day + .sep {
        display: none;
}

.core-date-time-range--root 
    .same-year-month .from:not(:has(.hour)) .month,
    .core-date-time-range--root .same-year-month .from:not(:has(.hour)) .month + .sep {
        display: none;
}

.core-date-time-range--root 
    .same-year-month .from:not(:has(.hour)) .year,
    .core-date-time-range--root .same-year-month .from:not(:has(.hour)) .year + .sep {
        display: none;
}

.core-date-time-range--root 
    .same-year .from:not(:has(.hour)) .month + .sep {
        display: none;
}

.core-date-time-range--root 
    .same-year .from:not(:has(.hour)) .year,
    .core-date-time-range--root .same-year .from:not(:has(.hour)) .year + .sep {
        display: none;
}

.core-date-time-range--root 
    .same-year .from:has(.hour) .month + .sep {
        display: none;
}

.core-date-time-range--root 
    .same-year .from:has(.hour) .year {
        display: none;
}

.pages-index-clock--hour:not([data-outside-of-opening-hours]),
.pages-index-clock--hour[data-current] {
    display: none;
}

.pages-index-clock--hour:not([data-current]):not([data-within-openings-hours]) {
    display: none;
}

.pages-index-clock--root {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: calc(var(--100svh, 100vh) - var(--height--site-header));
    justify-content: center;
}

.pages-index-clock--container {
    --width: calc((var(--width-percentage, 0%) - var(--height--site-header)) * 0.85);
    aspect-ratio: 1;
    position: relative;
    transform: translateY(calc(var(--height--site-header) / 2 * -1));
    width: var(--width);
}

@media (max-width: 768px) {
    .pages-index-clock--container {
        --width: calc((var(--width-percentage, 0%)) * 1 - var(--unit--vertical) * 4);
    }
}

@media (max-width: 768px) {
    #\39-balusters {
      font-size: 24px;
    }
  }

.pages-index-clock--svgOutline {
    left: 0;
    position: absolute;
    top: 0;
}

.pages-index-clock--svgOutline * {
    fill: var(--color--primary);
}

.pages-index-clock--wiser {
    display: flex;
    height: 50%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-100%) rotate(var(--deg, 0deg));
    transform-origin: 0 100%;
}

.pages-index-clock--wiser[data-smooth-transition] {
    transition: transform 0.25s ease;
}

.pages-index-clock--wiserContent {
    flex: 1;
    position: relative;
}

.pages-index-clock--wiserContent .pages-index-clock--svgHour,
.pages-index-clock--wiserContent .pages-index-clock--svgMinute {
    bottom: -10%;
    height: 75%;
    left: 50%;
    overflow: visible;
    position: absolute;
    transform: translate(-50%);
    width: auto;
}

.pages-index-clock--wiserContent .pages-index-clock--svgSecond {
    bottom: -10%;
    height: 80%;
    left: 50%;
    overflow: visible;
    position: absolute;
    transform: translate(-50%);
    width: auto;
}

.pages-index-clock--svgSecond {
    fill: var(--color--accent);
}

.pages-index-clock--svgHour *,
.pages-index-clock--svgMinute * {
    fill: none;
    stroke: var(--color--primary);
    stroke-width: 20;
    stroke-linecap: round;
}

.pages-index-clock--svgMinute * {
    stroke: var(--color--primary);
}

.layout-link-with-bar--root {
    display: inline-flex;
    gap: 0.5ch;
    margin-right: auto;
}

.layout-link-with-bar--root[data-active] {
    color: var(--color--accent);
    gap: 0.1ch;
    padding-right: 8ch;
}

.layout-link-with-bar--root[data-active] .layout-link-with-bar--bar {
    transform: rotate(-90deg);
    width: var(--fs, 1em);
}

.layout-link-with-bar--bar {
    background-color: currentColor;
    border-radius: 9999px;
    display: inline-block;
    height: var(--stroke--thick);
    margin: auto;
    pointer-events: none;
    transition: width 0.2s ease-out, transform 0.2s ease-out;
    width: 8ch;
}

.layout-link-with-bar--text {
    transform: translateY(-0.05em);
    padding-top: 30px;
    padding-left: 20px;
}

.pages-index-programs--introduction {
    margin-bottom: var(--unit--vertical--tripple);
    padding: 0 var(--unit--horizontal--double);
}

.pages-index-programs--about {
    display: flex;
    flex-direction: column;
    gap: var(--unit--vertical);
    max-width: var(--container--default--without-padding);
    width: 100%;
}

.pages-index-introduction--root {
    grid-row-gap: var(--unit--vertical--sextuple);
    background-color: #fffcd5;
    background-image: none; 
    display: grid;
    grid-template-columns: 1fr;
    padding: var(--unit--vertical--tripple) 0;
}

@media (prefers-color-scheme: dark) {
    .pages-index-introduction--root {
      background-color: #fffcd5;
    }
  }

.pages-index--section {
    margin-bottom: var(--unit--vertical--sextuple);
    background-color: #ffffff;
    padding: 20px;
}

.pages-index--section:not(:last-child) {
    margin-bottom: var(--unit--vertical--sextuple);
    background-color: #c1c1c1;
    padding: 20px;
}

.pages-index--section:not(:last-child) {
    margin-bottom: var(--unit--vertical--sextuple);
    background-color: #fffcd5;
}

.pages-index--section2:not(:last-child) {
    margin-bottom: var(--unit--vertical--sextuple);
    background-color: #fffcd5;
}

.pages-index--section3:not(:last-child) {
    margin-bottom: var(--unit--vertical--sextuple);
    background-color: #c1c1c1;
}

.pages-index--about {
    margin-bottom: var(--unit--vertical--tripple);
}

.node_modules--brambergvd-nuxt-base-layer-base-image--root {
    --max-aspect-ratio: max(var(--aspect-ratio), var(--base--image--max-aspect-ratio, 0));
    aspect-ratio: var(--base--image--aspect-ratio, var(--max-aspect-ratio));
    display: block;
    height: var(--base--image--height, auto);
    max-height: var(--base--image--max-height);
    -o-object-fit: var(--base--image--object-fit, contain);
    object-fit: var(--base--image--object-fit, contain);
    -o-object-position: var(--base--image--object-position, center);
    object-position: var(--base--image--object-position, center);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    visibility: hidden;
    width: var(--base--image--width, 100%);
}

.node_modules--brambergvd-nuxt-base-layer-base-image--root.lazyloaded {
    background-color: var(--base--image--background-color, none);
    box-shadow: var(--base--image--box-shadow, none);
    visibility: visible;
}

.node_modules--brambergvd-nuxt-base-layer-base-figure--root {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 0;
  }
  
  .node_modules--brambergvd-nuxt-base-layer-base-figure--root img {
    padding: 2rem 0;
    max-width: 100%;
    height: auto;
    display: block;
  }

.core-image--root {
    position: relative;
}

.core-image--svg {
    aspect-ratio: var(--aspect-ratio, auto);
}

.core-image--caption {
    padding-top: var(--unit--spacer);
    text-align: center;
}

.layout-grid--root {
    grid-column-gap: calc(var(--unit--horizontal--double) * 2);
    grid-row-gap: var(--unit--vertical--tripple);
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

@media (max-width: 768px) {
    .layout-grid--root {
        grid-column-gap: 0;
        grid-row-gap: var(--unit--vertical--tripple);
        grid-template-columns: 1fr;
    }
}

@media (max-width: 1024px) {
    .layout-grid--root[data-break-early] {
        grid-column-gap: 0;
        grid-row-gap: var(--unit--vertical--tripple);
        grid-template-columns: 1fr;
    }
}

.shared-thumbnail-program-details--root {
    --column--width: 40ch;
    margin: auto;
    width: 100%;
}

.shared-thumbnail-program-details--image {
    display: block;
}

.shared-thumbnail-program-details--info {
    text-align: right;
}

@media (max-width: 768px) {
    .shared-thumbnail-program-details--info {
        display: flex;
        flex-direction: column-reverse;
        text-align: left;
    }
}

.shared-thumbnail-program-details--dateTimeRange {
    display: block;
}

.shared-thumbnail-program-details--dateTimeRange time {
    display: inline-block;
}

.shared-thumbnail-program-details--tag {
    text-transform: uppercase;
    word-break: break-all;
}

.shared-thumbnail-program-details--current,
.shared-thumbnail-program-details--upcoming {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    gap: var(--unit--spacer);
    justify-content: center;
}

@media (max-width: 1281px) {
    .shared-thumbnail-program-details--current,
    .shared-thumbnail-program-details--upcoming {
        grid-column-gap: var(--unit--horizontal--double);
        grid-row-gap: var(--unit--spacer);
        align-items: start;
        display: grid;
        grid-template-areas: 
            "image image" 
            "dateTimeRange introduction";
        grid-template-columns: min-content 1fr;
    }
}

@media (max-width: 768px) {
    .shared-thumbnail-program-details--current,
    .shared-thumbnail-program-details--upcoming {
        grid-column-gap: var(--unit--horizontal--double);
        grid-row-gap: var(--unit--spacer);
        align-items: start;
        grid-template-areas: 
            "image" 
            "dateTimeRange" 
            "introduction";
        grid-template-columns: 1fr;
    }
}

@media (min-width: 1281px) {
    .shared-thumbnail-program-details--current .shared-thumbnail-program-details--image,
    .shared-thumbnail-program-details--upcoming .shared-thumbnail-program-details--image {
        width: min(100% - var(--column--width) - var(--unit--horizontal--tripple), var(--container--default--without-padding));
    }
}

@media (max-width: 1281px) {
    .shared-thumbnail-program-details--current .shared-thumbnail-program-details--image,
    .shared-thumbnail-program-details--upcoming .shared-thumbnail-program-details--image {
        grid-area: image;
        margin-left: auto;
        margin-right: auto;
        max-width: var(--container--default--without-padding);
        width: 100%;
    }
}

@media (min-width: 1281px) {
    .shared-thumbnail-program-details--current .shared-thumbnail-program-details--dateTimeRange,
    .shared-thumbnail-program-details--upcoming .shared-thumbnail-program-details--dateTimeRange {
        text-align: right;
        width: calc(var(--column--width) / 2);
    }
}

@media (max-width: 1281px) {
    .shared-thumbnail-program-details--current .shared-thumbnail-program-details--dateTimeRange,
    .shared-thumbnail-program-details--upcoming .shared-thumbnail-program-details--dateTimeRange {
        grid-area: dateTimeRange;
        white-space: nowrap;
    }
}

@media (max-width: 768px) {
    .shared-thumbnail-program-details--current .shared-thumbnail-program-details--dateTimeRange,
    .shared-thumbnail-program-details--upcoming .shared-thumbnail-program-details--dateTimeRange {
        text-align: left;
    }
}

@media (min-width: 1281px) {
    .shared-thumbnail-program-details--current .shared-thumbnail-program-details--introduction,
    .shared-thumbnail-program-details--upcoming .shared-thumbnail-program-details--introduction {
        width: calc(var(--column--width) / 2);
    }
}

@media (max-width: 1281px) {
    .shared-thumbnail-program-details--current .shared-thumbnail-program-details--introduction,
    .shared-thumbnail-program-details--upcoming .shared-thumbnail-program-details--introduction {
        grid-area: introduction;
    }
}

@media (max-width: 768px) {
    .shared-thumbnail-program-details--current .shared-thumbnail-program-details--introduction,
    .shared-thumbnail-program-details--upcoming .shared-thumbnail-program-details--introduction {
        text-align: left;
    }
}

.shared-thumbnail-program-details--past {
    grid-column-gap: var(--unit--horizontal--double);
    grid-row-gap: var(--unit--spacer);
    align-items: start;
    display: grid;
    grid-template-areas: 
        "image image" 
        "dateTimeRange introduction";
    grid-template-columns: min-content 1fr;
}

@media (max-width: 768px) {
    .shared-thumbnail-program-details--past {
        grid-column-gap: var(--unit--horizontal--double);
        grid-row-gap: var(--unit--spacer);
        align-items: start;
        grid-template-areas: 
            "image" 
            "dateTimeRange" 
            "introduction";
        grid-template-columns: 1fr;
    }
}

.shared-thumbnail-program-details--past .shared-thumbnail-program-details--image {
    grid-area: image;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--container--default--without-padding);
    width: 100%;
}

.shared-thumbnail-program-details--past .shared-thumbnail-program-details--dateTimeRange {
    grid-area: dateTimeRange;
    white-space: nowrap;
}

.shared-thumbnail-program-details--past .shared-thumbnail-program-details--introduction {
    grid-area: introduction;
}

.shared-thumbnail-program--root {
    display: flex;
    flex-direction: column;
}

.shared-thumbnail-program--root:hover {
    color: var(--color--accent);
}

.shared-thumbnail-program--status {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--unit--spacer);
    margin-bottom: calc(var(--unit--spacer) * 2);
    margin-left: auto;
    margin-right: auto;
    max-width: var(--container--default--without-padding);
    text-transform: uppercase;
    width: 100%;
}

.shared-thumbnail-program--title {
    margin-bottom: var(--unit--spacer);
    text-align: center;
}

.shared-thumbnail-program--title a:hover {
    color: #fefdd0;
}

.shared-thumbnails-programs--root {
    padding-left: var(--unit--horizontal--tripple);
    padding-right: var(--unit--horizontal--tripple);
    position: relative;
}

.shared-thumbnails-programs--item[data-status="current"],
.shared-thumbnails-programs--item[data-status="upcoming"] {
    grid-column: 1 / -1;
}

.shared-thumbnail-fellow--root {
    display: block;
    width: 100%;
}

.shared-thumbnail-fellow--content {
    background-color: transparent;
    color: #000000;
    padding: var(--unit--vertical) var(--unit--horizontal);
    text-align: center;
    border: 10px dotted #c5c5c5; 
    border-radius: 50%; 
}

.shared-thumbnail-fellow--root:hover 
.shared-thumbnail-fellow--content {
    background-color: transparent; 
    border: 10px dotted #000000; 
    border-radius: 50%; 
    transform: rotate(var(--deg));
}

.shared-fellow-thumbnail-container--root {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--unit--spacer);
}

.shared-fellow-thumbnail-container--label {
    text-transform: uppercase;
}

.shared-thumbnails-publications--root {
    display: block;
    margin: 0 var(--unit--horizontal--tripple);
    position: relative;
  }
  
  .shared-thumbnails-publications--root:not([data-loaded]) {
    opacity: 0;
  }
  
  .shared-thumbnails-publications--list {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    gap: var(--unit--horizontal--tripple);
    justify-content: center;
    padding-bottom: calc(var(--stroke--thick) * 1);
  }
  
  .shared-thumbnails-publications--bar {
    left: 0;
    margin-bottom: var(--stroke--thick);
    position: absolute;
    right: 0;
    top: var(--bottom);
  }
  
  .shared-thumbnails-publications--image {
    position: relative;
    z-index: 1;
  }
  
  .shared-thumbnail-publication--root {
    aspect-ratio: var(--aspect-ratio);
    display: block;
    max-width: 100%;
    position: relative;
    transform-origin: var(--origin);
    transition: transform .2s ease-in-out;
    width: calc(var(--width--percentage) * var(--width--publication-thumbnail));
  }
  
  .shared-thumbnail-publication--root[data-idle] {
    pointer-events: none;
  }
  
  .shared-thumbnail-publication--root.router-link-exact-active,
  .shared-thumbnail-publication--root:focus,
  .shared-thumbnail-publication--root:hover {
    outline: none !important;
    transform: rotate(var(--deg, 0deg));
  }
  
  .shared-thumbnail-publication--image {
    background-color: var(--color--white);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .shared-thumbnail-publication--image:before {
    background-color: #00000003;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .shared-thumbnail-publication--shadow {
    --offset: -1.35px;
    --offset-top: -1.15px;
    background-color: #ebebeb;
    border-right: .5px solid #cfcfcf;
    height: 100%;
    position: absolute;
    right: calc(var(--offset) * var(--i));
    top: calc(var(--offset-top) * var(--i));
    width: 100%;
    z-index: calc(var(--i) * -1);
  }
  
  @media (max-width: 768px) {
    .shared-thumbnail-publication--shadow {
      --offset: -.8px;
      --offset-top: -.65px;
    }
  }
  